.choice-card {
    border-radius: 10;
    overflow: hidden;
    transition-duration: 0.5s;
  }
  
  .choice-card img {
    object-position: top;
    object-fit: cover;
    transition: all 0.5s ease;
  }
  
  .choice-card:hover {
    transform: scale(1.1);
  }
  