.chat-box {
    background-color: rgba(255, 255, 255, 0.092); /* Adjust the transparency value as desired */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a box shadow */
    margin: 10 auto; /* Center the chat box horizontally */
  }

  .Typewriter {
    padding: 20px;
    font-size: medium;
  }
